body{
    background-color: black;
}

.Herop{
    font-family: monospace;
    
}

.Heroh1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Abouth1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}